
.formulario_contenedor{
    text-align: center;
    margin-top: -25%;
}
.formulario_contenedor1{
    text-align: center;
    margin-top: -25%;
}
h1{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}
input[type="email"],
input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-container{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.input-login-error{
    display: none;
    color: #900000;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin: 15px 0;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.btn_login{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.btn_login:hover{
    background: cadetblue;
}
.btn_registrar{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.btn_registrar:hover{
    background: cadetblue;
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
      color: #1a2537;
    font-weight: 600;
}
.link:hover{
     color: cadetblue;
}
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}




























