/*Estilos de css*/
.cabezera{
    background: #FFFFFF;    

}
.cabezera_principal{  
	margin: 0 auto;  
    padding: 32px 10%;
}
.logo{
    width: 100%;
}
.cabezera_componentes{
    width: 100%;
}
:root {
	--primary-color: #070707;
	--accent-color: #f50000;
	--main-font: 'roboto';
	--font-bold: 700;
	--font-regular: 400;
}
* { box-sizing: border-box }
input, 
button {
	border: none;
	background: none;
	outline: 0;
}
button {cursor: pointer}
.search::placeholder {/* No es un seudoelemento estandar */
 color:white;
	opacity: .6;
}
.search_principal {
	--height: 3em;
	display: flex;
	border-radius: var(--height);
	background-color: var(--primary-color);
	height: var(--height);
}
	.search_principal:hover .search {
		padding-left: 2em;
		padding-right: 1em;
		width: 540px;
	}
	.search {
		width: 0;
		font-size: 1.2em;
		color: #fff;
		transition: .45s;
	}
	.boton_search {
		display: flex;
		border-radius: 50%;
		width: var(--height);
		height: var(--height);
		background-color: var(--accent-color);
		transition: .3s;
	}
	.boton_search:active  {
		transform: scale(.85);
	}
	.fa-search {
		margin: auto;
		color: #fff;
        font-size: medium;
        box-sizing: var(--font-bold);
	}
.btn_login {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.btn_login:before{
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.btn_login:active {
    color: #000
}

.btn_login:active:after {
    background: transparent;
}

.btn_login:hover:before {
    opacity: 1;
}

.btn_login:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.banner_promocional{
    
    height: 352px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%), url("../img/fondo.gif") center / cover no-repeat;
}
.banner_promocional__text{
    width: 100%; 
    height: auto;
    padding: 32px 10%;
    
}
.title_promocional{
    color: #FFFFFF;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
}
.descripcion_promocional{
    color: #FFFFFF;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}
.btn_promocional{
    color: #FFFFFF;
    background: #2A7AE4;
    width: 129px;
    height: 51px;
    border-style: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.btn_promocional:hover{
    background: #5595E9;
}
@media screen and (max-width:1280px){
    .cabezera_principal{
        padding: 32px 5%;
    }
    .banner_promocional__text{
        padding: 32px 5%;
    }

}
@media screen and (max-width:768px){
    .logo2{
        width: 50%;
        margin-top: -750%;
    }

    .title_promocional{
        font-size: 22px;
        line-height: 25px;
    }
    .search_principal {
        --height: 3em;
        display: flex;
        margin-right: 20px;
        border-radius: var(--height);
        background-color: var(--primary-color);
        height: var(--height);
    }
    .boton_search{
        display: block;
		border-radius: 50%;
		width: 50px;
		height: 50px;
		background-color: var(--accent-color);
		transition: .3s;
    }
    .search::placeholder {/* No es un seudoelemento estandar */
        color:white;
           opacity: .6;
           font-size: 10px;
       }
       .search {
		width: 0;
		font-size: 10px;
		color: #fff;
		transition: .45s;
	}
    .search_box:hover .search {
		width: 200px;
	}
    .btn_login{
        width: 50px;
        height: 50px;
    }
}
@media screen and (max-width:360px){
    
    .cabezera_componentes img{
        width: 100px;
        height: 28px;
        order: 0;
    }
   .search_box:hover .search {
		width: 500px;
	}
    .btn_login{
        order: 1;
        width: 133px;
        height: 40px;

    }
    .title_promocional{
        font-size: 22px;
        line-height: 16px;
    }
    .descripcion_promocional{
        font-size: 18px;
        line-height: 16px;
    }
}