/*Estilos de css*/
.cabezera{
    background: #FFFFFF;    

}
.cabezera_principal{  
	margin: 0 auto;  
    padding: 32px 10%;
}
.logo{
    width: 100%;
}
.cabezera_componentes{
    width: 100%;
}
:root {
	--primary-color: #f8f4f4;
	--accent-color: #f50000;
	--main-font: 'roboto';
	--font-bold: 700;
	--font-regular: 400;
}
* { box-sizing: border-box }
input, 
button {
	border: none;
	background: none;
	outline: 0;
}
button {cursor: pointer}
.search::placeholder {/* No es un seudoelemento estandar */
 color:rgb(17, 17, 17);
	opacity: .6;
}
.search_principal {
	--height: 3em;
	display: flex;
	border-radius: var(--height);
	background-color: var(--primary-color);
	height: var(--height);
}
	.search_principal:hover .search {
        display: block;
		padding-left: 2em;
		padding-right: 1em;
		width: 540px;
	}
	.search {
		width: 0;
		font-size: 1.2em;
		color: #0e0d0d;
		transition: .45s;
	}
	.boton_search {
		display: flex;
		border-radius: 50%;
		width: var(--height);
		height: var(--height);
		background-color: var(--accent-color);
		transition: .3s;
	}
	.boton_search:active  {
		transform: scale(.85);
	}
	.fa-search {
		margin: auto;
		color: #fff;
        font-size: medium;
        box-sizing: var(--font-bold);
	}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.banner_promocional{
    
    height: 352px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%), url("../img/fondo.gif") center / cover no-repeat;
}
.banner_promocional__text{
    width: 100%; 
    height: auto;
    padding: 22px 10%;
    
}
.title_promocional{
    color: #FFFFFF;
    font-family: 'Raleway';
    opacity: .5;
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
    margin-top: -20%;
}
.descripcion_promocional{
    color: #FFFFFF;
    font-family: 'Raleway';
    opacity: .5;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}
.btn_promocional{
    color: #FFFFFF;
    background: #2A7AE4;
    width: 129px;
    height: 51px;
    border-style: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.btn_promocional:hover{
    background: #5595E9;
}
@media screen and (max-width:1280px){
    .cabezera_principal{
        padding: 32px 5%;
    }
    .banner_promocional__text{
        padding: 32px 5%;
    }

}
@media screen and (max-width:768px){
 
    .cabezera_principal{
        padding: 12px 5%;
    }
    .banner_promocional{
        width: auto;
        height: 200px;
        
    }
    .banner_promocional__text{
        padding: 12px 5%;
        margin-top: -25%;
    }
    .title_promocional{
        font-size: 22px;
        line-height: 25px;
    }

  
    .search::placeholder {/* No es un seudoelemento estandar */
        color:rgb(17, 17, 17);
           opacity: .6;
           font-size: 10px;
       }
       .search {
        display: block;
		width: 0;
		font-size: 10px;
		color: #0f0f0f;
		
	}
    .search_principal .search {
        display: block;
		padding-left: 2em;
		padding-right: 1em;
		width: 540px;
	}
    .search_box  {
		width: 200px;
	}
    .boton_search:active{
        width: 200px;
        

    }
    .btn_login{
        width: 50px;
        height: 50px;
    }
}
@media screen and (max-width:360px){
    
    .cabezera_componentes img{
        width: 100px;
        height: 28px;
        order: 0;
    }
   .search_box{
		width: 200px;
	}
    .btn_login{
        order: 1;
        width: 133px;
        height: 40px;

    }
    .title_promocional{
        font-size: 22px;
        line-height: 16px;
    }
    .descripcion_promocional{
        font-size: 18px;
        line-height: 16px;
    }
}