
.formulario_contenedor{
    text-align: center;
    margin-top: -20%;
    margin-bottom: 20%;
}
.formulario_contenedor1{
    text-align: center;
    margin-top: -20%;
    margin-bottom: 20%;
}
.title_login{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #464646;
}
h1{
    text-align: center;
    color: #0c0c0c;
    font-size: 40px;
}
input[type="email"],
input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-container{
    margin-bottom: 15px;
    border: 1px solid #aaa;
    padding: 16px 0;
}
.input-login-error{
    display: none;
    color: #900000;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin: 15px 0;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
/*login_inde*/
.btnlogin {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.btnlogin:before{
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.btnlogin:active {
    color: #000
}

.btnlogin:active:after {
    background: transparent;
}

.btnlogin:hover:before {
    opacity: 1;
}

.btnlogin:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

/*boton enviar login*/
.btn_login {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.btn_login:before{
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.btn_login:active {
    color: #000
}

.btn_login:active:after {
    background: transparent;
}

.btn_login:hover:before {
    opacity: 1;
}

.btn_login:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

/*boton Registrar*/
.btn_registrar {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.btn_registrar:before{
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.btn_registrar:active {
    color: #000
}

.btn_registrar:active:after {
    background: transparent;
}

.btn_registrar:hover:before {
    opacity: 1;
}

.btn_registrar:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

p{
    text-align: center;
    
}
.link{
    text-decoration: none;
      color: #1a2537;
    font-weight: 600;
    
}
.link:hover{
     color: cadetblue;
}
@media screen and (min-width:768px)
{
    .formulario_contenedor{
        margin: auto;
        width: 500px;
        margin-top: 70px;
        border-radius: 2%;
    }
    .formulario_contenedor1{
        margin: auto;
        width: 500px;
        border-radius: 2%;
    }
}
@media screen and (max-width:768px)
{
    .formulario_contenedor{
        margin: auto;
        width: 400px;
        margin-top: 70px;
        border-radius: 2%;
    }
    .formulario_contenedor1{
        margin: auto;
        width: 500px;
        margin-top: 70px;
        border-radius: 2%;
    }
}
