/*Estilos Css*/
.diversos{
    padding-bottom: 16px;
}
.diversos_principal{
    margin: 0 auto;
    padding: 16px 10%;
    
}
.diversos_descripcion{ 
    margin: 0 auto;
    padding: 16px 10%;
    
}
@media screen and (max-width:1280px){
    .diversos_principal{
        padding: 16px 5%;
        
    }
    .diversos_descripcion{ 
        padding: 16px 5%;
        
    }
}
